<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{{ name }} Blog</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    </head>

    <body>
        <h1>{{ name }} says... Hello world!</h1>
        <nav>
            <a href="/blog/about/">About</a><br />
            <a href="/blog/add_category/">Add a New Category</a><br />
        </nav>
        <h2>Some categories...</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/blog/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No categories present.</p>
        {% endif %}
        <h2>Most viewed pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="/blog/category/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <img src="{% static "images/composite_2.jpg" %}"/>
    </body>
</html>